<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/recipes" method="POST">
    <input type="text" id="name" name="recipe[name]">
    <input type="text" id="ingredients" name="recipe[ingredients]">
    <input type="text" id="cook_time" name="recipe[cook_time]">
    <input type="submit">
    </form>
</body>
</html>